.post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 1140px;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.postContent {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  margin: 0px 10px 0px 20px;
  max-height: 450px;
  min-width: 620px;
}
.postBody {
  min-height: 170px;
  text-align: justify;
}
.postTitle h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.postPhoto {
  min-height: 240px;
  min-width: 360px;

  max-height: 576px;
  max-width: 720px;
}

.postBtns {
  display: flex;
  align-items: center;
  padding-top: 0px;
  justify-content: flex-end;
}
.postDate {
  font-size: 14px;
  color: #808080;
  text-align: left;
}
.postAuthor {
  font-size: 14px;
  color: #808080;
  text-align: left;
}

.postBtns button {
  margin: 50px 0px 0px 10px;
}
